# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://example.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=example_anon_key
SUPABASE_SERVICE_ROLE_KEY=example_service_role_key
# Cloudinary
CLOUDINARY_CLOUD_NAME=example_cloud_name
CLOUDINARY_API_KEY=1234567890
CLOUDINARY_API_SECRET=example_api_secret

# JWT
JWT_SECRET=example_jwt_secret
JWT_REFRESH_SECRET=example_jwt_refresh_secret

# Webhooks
WEBHOOK_N8N_URL=
WEBHOOK_SECRET_TOKEN=

# App
NEXT_PUBLIC_APP_URL=http://localhost:9000
