# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://yomtcdzygnxqszieylvy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_fv82onGSDo7p6x8AmAwp6w_Uj6XVRQ9
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlvbXRjZHp5Z254cXN6aWV5bHZ5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzc4Njc2OCwiZXhwIjoyMDg5MzYyNzY4fQ.ZHvsSif_kXsXR_hNNkEKp_zEL0h3JctN5ND7m6IsiyM
# Cloudinary
CLOUDINARY_CLOUD_NAME=dopn4crlo
CLOUDINARY_API_KEY=141367191464658
CLOUDINARY_API_SECRET=huhV0zg3OKDyMThYmxAPBRAeeSQ

# JWT
JWT_SECRET=KejirztVhvap3f0x0xBM1T5t128ePUxz/EB+83PendIhLjx/MTNhVTF8jSGVi00ZYx/XCaijNYqs8PxP1N12Gw==
JWT_REFRESH_SECRET=Qw9r7mA1YdT5nZp3Vx4Hk8sJ2uL6cN0bE5gP9tR3yX7wF1kD6hS0vM4jU8iO2aL

# Webhooks
WEBHOOK_N8N_URL=https://muviapp.online/webhook-test/products
WEBHOOK_SECRET_TOKEN=sk_webhook_secret_abc123

# App
NEXT_PUBLIC_APP_URL=http://localhost:9000

# Admin Users
ADMIN_SUPER_EMAIL=facudev4@gmail.com
ADMIN_SUPER_PASSWORD=Mikias420
ADMIN_EMAIL=facucercuetti420@gmail.com
ADMIN_PASSWORD=admin123

# Roles assignment
# facudev4@gmail.com -> superadminroot (Superadministrador Técnico)
# facucercuetti420@gmail.com -> superadmin (Superadministrador)
